-# set as flash_card so when posting, the flash_card param is set since that's what the controller is looking for instead of original_card or @object
=debug @object
= form.fields_for(:translation_card) do |f|
  - if @object.errors.any?
    #error_explanation
      %h2= "#{pluralize(@object.errors.count, "error")} prohibited this flash_card from being saved:"
      %ul
        - @object.errors.full_messages.each do |msg|
          %li= msg

  = f.hidden_field :type, value: @object.type
  .field
    = f.label :character
    = f.text_field :character
  .field
    = f.label :background
    = f.text_field :background
  -if @object.type == OriginalCard.name
    .field
      = f.label :audio_file
      = f.file_field :audio_file
      .progress.hide
        .progress-bar{role: "progressbar"}
  .actions
    = f.submit 'Save'
- add = "<i class='icon-plus icon-white'></i> Add Translation Card".html_safe
= form.link_to_add add, field.name, { :class => 'btn btn-info'}
