-# set as flash_card so when posting, the flash_card param is set since that's what the controller is looking for instead of original_card or translation_card
= form_for(@flash_card, as: :flash_card) do |f|
  - if @flash_card.errors.any?
    #error_explanation
      %h2= "#{pluralize(@flash_card.errors.count, "error")} prohibited this flash_card from being saved:"
      %ul
        - @flash_card.errors.full_messages.each do |msg|
          %li= msg

  = f.hidden_field :type, value: @flash_card.type
  .field
    = f.label :character
    = f.text_field :character
  .field
    = f.label :background
    = f.text_field :background
  -if @flash_card.type == OriginalCard.name
    .field
      = f.label :audio_file
      = f.file_field :audio_file, data: {s3_url: @s3_direct_post.url.to_s, s3_data: @s3_direct_post.fields.to_json, s3_host: @s3_direct_post.url.host.to_s}
      .progress.hide
        .progress-bar{role: "progressbar"}
  .actions
    = f.submit 'Save'
