!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    %title= content_for?(:title) ? yield(:title) : 'Tibetanflashcards'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Tibetanflashcards'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      -if user_signed_in?
        = render 'layouts/navigation'
    %main.container{:role => "main"}
      = render 'layouts/messages'
      %h2.title
        =@title || "Tibetan Flash Cards"
      %h4.subtitle=@subTitle
      = yield

    = javascript_include_tag 'application', 'data-turbolinks-track' => true
